 /* Importação de Fontes */
 
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

    /* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

/* Reset do Navegador */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilização do meu Site */

body {
    background-color: #0E1014;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

img#logo { 
          margin-top: 70px;
          margin-left: 360px;
}

main {
    width: 792px;
    text-align: center;
    margin: 0px auto;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    margin: 30px auto 24px;
}

h1 span{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    color: #9747FF;
}

p {
    width: 792px;
    margin: 24px auto 0px;
}

a {
    text-decoration: none;
    color: white;
    background-color: #9747FF;
    border-radius: 50px;
    display: block;
    line-height: 66px;
    width: 340px;
    height: 66px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

a:hover {
    background-color: #8233E8;
}

img#celulares {
    width: 792px;
    height: 446px;
}

/* Responsividade do site */

@media(max-width: 768px){

    img#logo { 
          margin: 65px 0 0 60px;
  }

  main {
    width: 648px;
    height: 882px;
}

  h1 {
    margin: 75px auto 24px;
    width: 648px;
    height: 158px;
  }

  p {
    width: 648px;
    height: 108px;
  }

  img#celulares {
    width: 659px;
    height: 446px;
  }
}

@media(max-width: 375px){

  img#logo { 
    margin: 32px 0 0 16px;
  }

    main {
    width: 341px;
    height: 670px;
}

  h1 span {
    font-size: 40px;
  }

  h1 {
    font-size: 40px;
    margin: 75px auto 24px;
    width: 341px;
    height: 150px;
  }

  p {
    display: block;
    font-size: 20px;
    width: 341px;
    height: 120px;
  }

  a{
    font-size: 19px;
    width: 251px;
    height: 66px;
  }

  img#celulares {
    width: 341px;
    height: 230px;
  }
}